
@{
    ViewBag.Title = "Contatos";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<address>
    Primeiro MVC<br />
    Rua Exemplo, MG 323232-000<br />
    <abbr title="Telefone">Tel:</abbr>
    9999-9999
</address>