@model IntroducaoMVC.Models.Pessoa

@{
    ViewBag.Title = "Página Inicial";
}

<br />

<p>View Tipada</p>
@using (Html.BeginForm("Lista", "Home", FormMethod.Post)) {
    <fieldset>
        <legend>Informações de Pessoas</legend>

        <div>
            <label for="id">Código</label>
        </div>
        <div>
            @Html.EditorFor(x => x.id)
        </div>

        <div>
            <label for="id">Nome</label>
        </div>
        <div>
             @Html.EditorFor(x => x.nome)
        </div>

        <div>
            <label for="id">Tipo</label>
        </div>
        <div>
            @Html.EditorFor(x => x.tipo)
        </div>
        <br />
        <p><input type="submit" value="Enviar" /></p>
    </fieldset>
}