@model IntroducaoMVC.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b> Id da Pessoa </b>
</div>
<div>
    @Model.id
</div>

<div>
    <b> Nome da pessoa </b>
</div>
<div>
    @Model.nome
</div>

<div>
    <b> Tipo </b>
</div>
<div>
    @Model.tipo
</div>

<br />

@Html.ActionLink("Voltar","Index","Home")