
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b> Id da Pessoa </b>
</div>
<div>
    @ViewData["id"]
</div>

<div>
    <b> Nome da pessoa </b>
</div>
<div>
    @ViewData["nome"]
</div>

<div>
    <b> Tipo </b>
</div>
<div>
    @ViewData["tipo"]
</div>

